.main {
  position: relative;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.container {
  min-height: 100vh;
  background-image: linear-gradient(135deg,
      #fce7f3 15%,
      /* Hồng pastel */
      #dcfce7 30%,
      /* Xanh lá pastel */
      #ccfbf1 45%,
      /* Xanh ngọc pastel */
      #dbeafe 60%,
      /* Xanh da trời pastel */
      #ccfbf1 75%,
      /* Xanh ngọc pastel */
      #dcfce7 90%);
  /* Xanh lá pastel */
  color: #253a5c;
}